<div class="navbar-left" style="background-color: #6973ff; " xmlns="http://www.w3.org/1999/html">
  <br><br>
  <button style="background-color: #6973ff;" routerLink="/dashboard"><img src="../assets/img/ac.PNG"></button>
  <br><br><br>
  <button style="background-color: #6973ff;"><img src="../assets/img/2.PNG"></button>

  <br><br><br>
  <button style="background-color: #6973ff; " routerLink="/signin"><img src="../assets/img/3.PNG"></button>
  <br><br><br>
  <button style="background-color: #6973ff;"><img src="../assets/img/4.PNG"></button>
  <br><br><br>
  <button style="background-color: #6973ff;"><img src="../assets/img/5.PNG"></button>
  <br>  <br>  <br>

  <p class="bottom-left" style="margin-top: 200px">
    <img src="" >hhhg</p>
</div>
